@import "./Stylesheets/Components/CollectionItem/CollectionItem";
@import "./Stylesheets/Components/PreviewCollection/PreviewCollection";
@import "./Stylesheets/Views/homepage";
@import "./Stylesheets//Components/Header/Header";
@import "./Stylesheets//Views/SignInSignUp";
@import "./Stylesheets/Components/FormInput/FormInput";
@import "./Stylesheets//Components/CustomButton/CustomButton";

body{
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}
a{
    text-decoration: none;
    color: black;
}
* {
    box-sizing: border-box;
}